body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.info {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.info h2 {
    color: #333;
}

.location, .time, .country {
    flex: 1;
    text-align: center;
    padding: 20px;
}

p {
    color: #777;
    font-size: 18px;
}
